*{
	margin: 0;
}

#block-for-slider {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    height: 500px;
}

#viewport {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    & li{
    	width: calc(100%/4);
	    list-style: none;
	    display: inline;
	    float: left;
	    overflow: hidden;
    }
}

.slide-img {
    width: 100%;
    overflow: hidden;
}

.popup-form{
	display:none;
}

.submenu{
	display:none;
}

.submenu-active{
	display: block;
}

.li-active, .sucategory-active{
	border-bottom: 2px dashed #000;
}

.products{
	display: none;
}

.products-show{
	display: flex;
}